# created by virtualenv automatically
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
python.exe
python3.exe
backend/uploads/
.DS_Store

# Flask uploads
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Local environment
.env
config.py